<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>View EBL</title>
    <meta http-equiv="Content-Type" content="application/json" />
</head>
<body>
	<h1>JWT token details</h1>

    <p><span th:text="${tokenInfo.decodedHeaderToken}" /></p>
    <p><span th:text="${tokenInfo.decodedBodyToken()}" /></p>

    <form action="#" th:action="@{${tokenInfo.eblUrl}}" method="post">
        <input  th:name="access_token" th:value="${tokenInfo.headerToken}">
        <input  th:name="data" th:value="${tokenInfo.bodyToken}">
        <p><input type="submit" value="Show EBL" /></p>
    </form>
</body>
</html>
