<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>View EBL</title>
    <meta http-equiv="Content-Type" content="application/json"/>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/generateToken}" th:object="${tokenInfo}" method="post">
    <p>EBL Document Id: <input type="text" th:field="*{eblDocumentId}"/></p>
    <p>RID: <input type="text" th:field="*{rid}"/></p>
    <p>Language: <input type="text" th:field="*{language}"/></p>
    <p>User Code: <input type="text" th:field="*{userCode}"/></p>
    <p>Company Code: <input type="text" th:field="*{companyCode}"/></p>
    <p>Time Zone: <input type="text" th:field="*{timeZone}"/></p>
    <p>Action: <input type="text" th:field="*{action}"/></p>

    <p>CW1 Instance:
        <select th:field="*{cw1Instance}">
<!--            <option value="NONE">&#45;&#45;&#45;&#45;Select&#45;&#45;&#45;&#45;</option>-->
            <option th:each="entry : ${tokenInfo.cw1Instances.entrySet()}" th:value="${entry.value}" th:text="${entry.key}">
                This will be replaced - is only used for natural templating
            </option>
        </select>
    </p>
    <p>Galileo Endpoint:
        <select th:field="*{galileoEndpoint}">
<!--            <option value="NONE">&#45;&#45;&#45;&#45;Select&#45;&#45;&#45;&#45;</option>-->
            <option th:each="entry : ${tokenInfo.galileoEndpoints.entrySet()}" th:value="${entry.value}" th:text="${entry.key}">
                This will be replaced - is only used for natural templating
            </option>
        </select>
    </p>
    <p>Audience: <input type="text" th:field="*{audience}"/></p>
    <p>Issuer URI: <input type="text" th:field="*{issuerUri}"/></p>

    <p><label>
        Azure RSA Key Pair in JWK format:
        <textarea class="form-control" rows="8" th:field="*{headerRsaKeyPair}"></textarea>
    </label></p>
    <p><label>
        CW1 RSA Key Pair in JWK format:
        <textarea class="form-control" rows="8" th:field="*{bodyRsaKeyPair}"></textarea>
    </label></p>


    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>
