<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>View EBL</title>
    <meta http-equiv="Content-Type" content="application/json"/>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<div class="container">
    <br/>
    <h3 class="text-center">User & EBL Details</h3>
    <br/>
    <form class="row g-3" action="#" th:action="@{/generateToken}" th:object="${tokenInfo}" method="post">
        <div class="col-md-6">
            <label for="eblDocumentId" class="form-label fw-bold fw-bold">EBL Document Id</label>
            <input type="text" th:field="*{eblDocumentId}" class="form-control" id="eblDocumentId"
                   placeholder="">
        </div>
        <div class="col-md-6">
            <label for="rid" class="form-label fw-bold">RID</label>
            <input type="text" th:field="*{rid}" class="form-control" id="rid" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="language" class="form-label fw-bold">Language</label>
            <input type="text" th:field="*{language}" class="form-control" id="language" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="userCode" class="form-label fw-bold">User Code</label>
            <input type="text" th:field="*{userCode}" class="form-control" id="userCode" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="companyCode" class="form-label fw-bold">Company Code</label>
            <input type="text" th:field="*{companyCode}" class="form-control" id="companyCode" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="timeZone" class="form-label fw-bold">Time Zone</label>
            <input type="text" th:field="*{timeZone}" class="form-control" id="timeZone" placeholder="">
        </div>
        <div class="col-md-12">
            <label for="action" class="form-label fw-bold">Action</label>
            <input type="text" th:field="*{action}" class="form-control" id="action" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="audience" class="form-label fw-bold">Audience</label>
            <input type="text" th:field="*{audience}" class="form-control" id="audience" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="issuerUri" class="form-label fw-bold">Issuer URI</label>
            <input type="text" th:field="*{issuerUri}" class="form-control" id="issuerUri" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="cw1Instance" class="form-label fw-bold">CW1 Instance</label>
            <select class="form-select" id="cw1Instance" th:field="*{cw1Instance}">
                <option th:each="entry : ${tokenInfo.cw1Instances.entrySet()}" th:value="${entry.value}"
                        th:text="${entry.key}">
                    This will be replaced - is only used for natural templating
                </option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="galileoEndpoint" class="form-label fw-bold">Galileo Endpoint</label>
            <select class="form-select" id="galileoEndpoint" th:field="*{galileoEndpoint}">
                <option th:each="entry : ${tokenInfo.galileoEndpoints.entrySet()}" th:value="${entry.value}"
                        th:text="${entry.key}">
                    This will be replaced - is only used for natural templating
                </option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="headerRsaKeyPair" class="form-label fw-bold">Azure RSA Key Pair in JWK format(Mock)</label>
            <textarea style="white-space: pre" th:field="*{headerRsaKeyPair}" class="form-control"
                      id="headerRsaKeyPair"
                      rows="12"></textarea>
        </div>

        <div class="col-md-6">
            <label for="bodyRsaKeyPair" class="form-label fw-bold">CW1 RSA Key Pair in JWK format(Mock)</label>
            <textarea style="white-space: pre" th:field="*{bodyRsaKeyPair}" class="form-control" id="bodyRsaKeyPair"
                      rows="12"></textarea>
        </div>

        <input type="hidden" th:value=false name="useWebService"/>

        <div class="col text-center">
            <button class="btn btn-primary" type="submit">Generate Token</button>
        </div>
    </form>
</div>
</body>
</html>
